body
{
    text-align:center;
    background-color:#FFFBD6;
}

.cabecera
{
    background-color:#CC3300;
    text-align:center;    
}

.link
{
    font-size:medium;
    background-color:White;
}

.menu
{
    width:1000px;
    margin:4px auto;
    height:2px;
    background-color:#FFFBD6;
}

.content
{
    background-color:White;
    font:Verdana;
}

.login
{
    width:500px;
    margin:50px auto;
    background-color:#FFFBD6;
    border:solid maroon;        
}

.paginas
{
    font:Verdana;
    color:Maroon;
    height:400px;
    background-color:#FFFBD6;
}